@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu-300.woff') format('woff'), url('./ubuntu-300.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu-300italic.woff') format('woff'), url('./ubuntu-300italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu-700.woff') format('woff'), url('./ubuntu-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu-700italic.woff') format('woff'), url('./ubuntu-700italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
