@font-face {
    font-family: 'News Cycle';
    src: url('./news-cycle-regular.woff') format('woff'), url('./news-cycle-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'News Cycle';
    src: url('./news-cycle-700.woff') format('woff'), url('./news-cycle-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
