<!DOCTYPE html>
<html lang="fr">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
		<meta name="keywords" content="la digitale, presentation, diaporama, language teaching tools, éducation">
		<meta name="description" content="Digislides permet de créer des présentations multimédias simplement et rapidement.">
		<meta name="robots" content="index, no-follow" />
		<meta name="theme-color" content="#00ced1">
		<meta property="og:title" content="Digislides by La Digitale">
		<meta property="og:description" content="Digislides permet de créer des présentations multimédias simplement et rapidement.">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ladigitale.dev/digislides/" />
		<meta property="og:image" content="https://ladigitale.dev/digislides/static/img/digislides.png" />
		<meta property="og:locale" content="fr_FR" />
        <title>Digislides by La Digitale</title>
		<link rel="icon" type="image/png" href="<%= dossier %>static/img/favicon.png">
    </head>
  	<body>
    	<noscript>
      		<strong>Veuillez activer Javascript dans votre navigateur pour utiliser <i>Digislides</i>.</strong>
    	</noscript>
		<div id="app"></div>
		<script type="module" src="/src/main.js"></script>
		<script src="<%= dossier %>static/js/qrcode.js"></script>
		<script src="<%= dossier %>static/js/flex-images.js"></script>
  	</body>
</html>
